
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
node_modules/
/.pnp
.pnp.js
jspm_packages/
package_lock.json
yarn.lock
vendor/
.bundle/
bin/
obj/
/coverage
.env
.env.local
.env.test.local
.env.development
.env.production.local
*.env
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local

tmp/
*.tmp
*.log



